html{
    font-size: 14px;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 9%, rgba(210,208,208,1) 100%);
    
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:  0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }


#header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;

    color: black;
    font-weight: bolder;

}

#header>span{
    font-family: 'Amatic SC', cursive;
    font-size: 8rem;
    font-weight:    bolder;
}

#wall{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
    height: fit-content;

    margin: 0;
}

#shelf{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px, 1fr));
    border-radius: 20px;
    background-color: rgba(0,0,0,.2);
    gap: 30px;
    padding: 50px;
    width: 600px;
    
}


.cards {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    height: 200px;
    background: #F6F7F2;
    padding: 10px;
    font-size: 2rem;
    font-family: 'Amatic SC', cursive;
    overflow: auto;
    


}

.cards.true{
    border-left:   13px solid rgba(156,214,165,1);
    
}

.cards.false{
    border-left:   13px solid rgba(254,173,173,1);
}

button:hover{
    cursor: pointer;
}

.buttons{
    margin-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 15px;
    width: 230px;

    
}

.card-button{
    display: flex;
    padding: 5px;
    width:  100px;
    height: 20px;
    justify-content: center;
    align-items: center;
    border:     0;
    border-radius: 20px;
    font-weight: bold;
}

button[id^='read']{
    background: rgb(156,214,165);
    background: linear-gradient(90deg, rgba(156,214,165,1) 19%, rgba(254,173,173,1) 61%);
}

#sidebar-info{
    display: flex;
    height: 250px;
    align-items:    center;
    justify-content: center;
    font-weight: bolder;
    font-size: 2.5rem;
    color: white;   
    
}

#sidebar{
    padding: 20px;
    border-radius: 20px;
    background-color: #F5F5F5;
    opacity: 0.8;
    background-size: 20px 20px;
    background-color: rgba(0,0,0,.3);
}

form{
    display: grid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    color:#F5F5F5;

    justify-items: end;
}

.form{
    display: flex;
    padding: 20px;
    gap: 50px;
    align-items: center;
    justify-content: center   ;
    
}

input{
    height: 15px;
    border-radius: 20px;
    border: 2px solid white;
    padding-left: 10px;
    background-color: rgba(0,0,0,.5);
    color: #F5F5F5;
    font-weight: lighter;
}



#submit{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 0;
    background-color: #E6DFD4;
    font-size: 1.5rem;
}

@media screen and (min-width: 800px) {
    .cards {
      font-size: 3rem;
    }
  }